*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 40px;
    
}

header{
    width: 100%;
    max-width: 800px;
    text-align: center;
}

header h1 {
    color: grey;
}

header form .search-container{
    margin-top: 20px;
    position: relative;
}

header form .search-container input{
    width: 100%;
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 20px;
    border: none;
    background: #eee;
    cursor: pointer;
}
header form .search-container .material-symbols-outlined {
    position: absolute;
    right: 12px;
    bottom: 12px;
    color: #777;
}

.images-container{
    margin-block: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.images-container img{
    width: 400px;
    height: 320px;
}

.images-container .imageDiv{
    position: relative;
}

.imageDiv .overlay{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0,0,0,0.7);
    transition: height 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageDiv:hover .overlay {
    height: 100%;
}

.imageDiv .overlay h3{
    color: #fff;
    display: none;
    text-align: center;
    font-size: 20px;
}

.imageDiv:hover .overlay h3{
    display: block;
}

.loadMoreBtn {
    border: none;
    background-color: #66c7ca;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    display: none;
}

main section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 50px 0;
}

@media  screen and (max-width:920px) {
    header {
        width: 80%;
    }
}